body{
    margin: 0;);
    position: relative;
}
/* Navigation Bar CSS Code*/
.nav-bar{
    background-color: #0A2647;
}

.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.nav-menu-item{
    display:inline;
}

.nav-menu-item > a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.nav-menu-item :hover{
    background-color:#2C74B3;
}

.active{
    border-bottom: solid crimson;
    margin: 10px;
}

.logo{
    object-fit: scale-down;
    width: 25%;
    margin-top: 25px;
    margin-left: 25px;
}

.home-photo{
    width: 100%;
}

.footerdiv{
    display: flex;
    background-color: #0A2647;
    justify-content: space-around;
}

.footertext{
    color: white;
}

.footer-menu-item > a{
    text-decoration: none;
    color: white;

}

.footer-menu{
    list-style: circle;
}

.footer-menu-item{
    color: white;

}

.footer-menu-item :hover{
    text-decoration: underline;

}

